body {
    width: 920px;
    margin: 25px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 40px;
}

h1 {
    color: rgb(69, 69, 250);
}

.margin {
    margin-right: 15px;
}

section div {
    float: left;
}